<%# Content Heading %>
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <%# Message display %>
                <%- messages() %>

                    <%# Errors display %>
                        <% if (errors) { %>
                            <ul class="notice">
                                <% errors.array().forEach(error=> { %>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <% }) %>
                            </ul>
                            <% } %>

                                <%# Main content %>
                                    <div class="form-container">
                                        <p class="form-note">Note: Classification name cannot contain spaces or special
                                            characters.</p>

                                        <form action="/inv/add-classification" method="post">
                                            <div class="form-group">
                                                <label for="classification_name">Classification Name:</label>
                                                <input type="text" name="classification_name" id="classification_name"
                                                    pattern="^[a-zA-Z0-9]+$" required <% if(locals.classification_name){
                                                    %>
                                                value="<%= locals.classification_name %>"
                                                    <% } %>>
                                            </div>
                                            <button type="submit">Add Classification</button>
                                        </form>
                                    </div>