<%# Content Heading %>
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <%# Message display %>
                <%- messages() %>

                    <%# Errors display %>
                        <% if (errors) { %>
                            <ul class="notice">
                                <% errors.array().forEach(error=> { %>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <% }) %>
                            </ul>
                            <% } %>

                                <div class="management-links">
                                    <p>Choose an option below:</p>
                                    <a href="/inv/add-classification" title="Add New Classification">Add New
                                        Classification</a>
                                    <a href="/inv/add-inventory" title="Add New Vehicle">Add New Vehicle</a>
                                </div>

                                <h2>Manage Inventory</h2>
                                <p>Select a classification from the list to see items belonging to the classification.
                                </p>

                                <%# classification list %>
                                    <%- classificationSelect %>

                                        <%# inventory display table %>
                                            <table id="inventoryDisplay"></table>

                                            <%# No JS warning %>
                                                <noscript>JavaScript must be enabled to use this page.</noscript>

                                                <%# client-side javascript %>
                                                    <script src="../../js/inventory.js"></script>